* text eol=lf
*  -crlf
# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.js text eol=lf
*.md text eol=lf
*.env text eol=lf

*.png binary
*.jpeg binary
*.jpg binary
# Declare files that will always have CRLF line endings on checkout.
#*.sln text eol=crlf
